html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/*Layout*/
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #017fff;
  width: 100%;
  position: fixed;
}

main {
  grid-area: main;
  margin: 1rem;
}

footer {
  grid-area: footer;
  background-color: #017fff;
  color: white;
}

footer > span {
  padding: 0 1rem;
}

/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.splitter {
  border-bottom: 0.2rem solid gray;
  margin-right: 2rem;
}
.row.left {
  justify-content: left;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 25rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffd000;
}

.alert {
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
  padding: 1rem;
}

.alert-info {
  color: blue;
  background-color: #f2f2f2;
}

.alert-danger {
  color: red;
  background-color: #fcd9d9;
}

.success {
  color: green;
}

.danger {
  color: #faac46;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li {
  margin-bottom: 1rem;
}

select,
input,
textarea,
button {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 0.5rem;
  border: 0.1rem #e6e6e6 solid;
  padding: 1rem;
}

button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

button.primary {
  background-color: #faac46;
}

button:hover {
  border: 0.1rem #a3a3a3 solid;
}

.item-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.item-detail > :last-child {
  margin-left: auto;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.grid-5 > :last-child {
  margin-left: auto;
}

/* Header */
header a {
  color: white;
  padding: 1rem;
}

a.brand {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.badge {
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  color: white;
  background-color: red;
}

/* Rating */
.rating span {
  color: #ffd000;
  margin: 0.1rem;
}

.rating span:last-child {
  color: black;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: auto;
  background-color: black;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Card */
.card {
  border: 0.1rem #e6e6e6 solid;
  margin: 1rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 1.5rem;
}
/* 
/* Loadingbox 
.loading {
  margin-left: auto;
  margin-right: auto;
} */

/* Price */
.price {
  font-size: 2rem;
}

/* Images */
img.medium {
  max-width: 30rem;
  object-fit: cover;
  width: 100%;
  height: 25rem;
}

img.large {
  width: 100%;
}

img.small {
  width: 5rem;
  height: 5rem;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

/* Checkout */
.checkout-steps > div {
  border-top: 0.3rem gray solid;
  padding: 1rem;
  flex: 1;
  color: grey;
}

.checkout-steps > div.active {
  border-top: 0.3rem #f5a52c solid;
  color: #f5a52c;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: left;
  /* border: 0.1rem solid #e4e4e4; */
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}

/* Draft */
.group-input {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* margin-top: 8px; */
}

.group-input .small {
  width: 3.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0%;
}
/* .group-input button{
  border-radius: 0 0.5rem 0.5rem;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sso-button {
  margin: 0rem;
  max-height: 5rem;
  height: 100%;
}

.sso-button button {
  margin: 0;
  font-size: 1.4rem;
  width: 28rem;
  font-family: Helvetica, Arial, sans-serif;
  height: 5rem;
}
/* .sso-button >*{
  margin: 0;
  max-height: 5rem;
  height: 100%;
  min-width: 20rem;
}
.sso-button > *>*>*{
  margin: 0;
  max-height: 5rem;
  height: 100%;
} */

/* Product layout*/
.product-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
}

.product-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
  margin-left: 1rem;
}

.product-info-btn {
  border-radius: 0%;
  /* min-width: 20rem; */
  width: 50%;
  text-align: left;
  justify-self: left;
}

.product-info-btn.active {
  background-color: #d6d6d6;
}

.product-description {
  min-height: 30rem;
}

.right-content {
  margin: 0;
  padding: 1rem;
  height: 100%;
}

.images-list > .small {
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
